@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --color-menu-mobile: rgba(17, 6, 83, 0.541);
  --background-color: #000;
  --text-color-primary: #fff;
  --color-transparent: rgba(0, 0, 0, 0);
  --nav-color-hover: rgba(64, 39, 156, 0.8);
  --text-color-mobile: #000;
  --black-transparent: rgba(0, 0, 0, .5);
  --border-box-color: #444444;
  --backgraund-input: rgba(24, 23, 29, 0.527);
  --color-button-reset: rgb(122, 19, 19);
  --color-button-reset-hover: rgb(182, 43, 43);
  --color-button-send: rgb(19, 122, 58);
  --color-button-send-hover: rgb(63, 173, 105);

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color-primary);
}


nav {
  position: fixed;
  right: 0;
  width: 100vw;
  height: 8vh;
  top: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 90%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: 1.2em;
}

.container {
  margin-top: 8vh;
}

/* Home */
.home {
  height: 100vh;
  width: 100%;
}

.home picture img {
  width: 99vw;
  height: 100vh;
}

.titulo {
  position: absolute;
  top: 20vh;
  left: 40vw;
  background-color: var(--color-transparent);
}

h1 {

  background-color: var(--color-transparent);
  font-size: 4em;
  text-transform: uppercase;
}

.titulo h4 {

  background-color: var(--color-transparent);
  font-size: 1em;
  text-transform: uppercase;
}

.titulo h4::before {
  display: inline-block;
  content: "";
  border: 1px solid var(--text-color-primary);
  width: 190px;
  transform: translateY(-4px);
}

/* what's a new? */
.new {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.new h2 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.new-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.view {
  padding-left: 10vw;
  width: 40vw;
  height: 40vh;
  background-color: var(--background-color);
}

.view:hover {
  transform: scale(1.05);
}

.description {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.description h3 {
  text-align: center;
  padding: 2em;
}

.description p {
  padding-left: 2em;
  padding-right: 2em;
}

.release {
  text-align: center;
  padding: 2em;
}

.description {
  background-color: var(--color-transparent);
}

/* Discography */
.discography {
  padding: 2em;
}

.discography h2 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.slider {
  max-width: 700px;
  max-height: 457px;
  border: 10px solid var(--border-box-color);
  margin: 60px auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.slider .slider-items .item img {
  max-width: 100%;
  display: block;
  -webkit-animation: zoom 1s ease;
  animation: zoom 1s ease;
}

@-webkit-keyframes zoom {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.slider .slider-items .item {
  display: none;
  position: relative;
}

.slider .slider-items .item.active {
  display: block;
}

.slider .slider-items .item .caption {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background-color: var(--black-transparent);
  color: var(--text-color-primary);
  font-size: 2em;
  line-height: 60px;
}

.slider .left-slide,
.slider .right-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--border-box-color);
  border-radius: 50%;
  color: var(--text-color-primary);
  font-size: 2em;
  top: 50%;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: all .5s ease;
}

.slider .left-slide:hover,
.slider .right-slide:hover {
  box-shadow: 0px 0px 10px var(--text-color-primary);
  background-color: var(--background-color);
}

.slider .left-slide {
  left: 30px;
}

.slider .right-slide {
  right: 30px;
}

.m-no {
  display: none;
}

.contact h2 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.form-contact {
  max-width: 700px;
  margin: 20px auto;
  padding: 2%;
}

.content-form label,
.content-form input,
.content-form textarea {
  margin-top: 1em;
}

.content-form input {
  border: none;
  background-color: var(--backgraund-input);
  min-width: 100%;
  min-height: 2em;
  padding-left: 1em;
}

.content-form input:focus {
  border-width: 5px;
  border-color: var(--nav-color-hover);
  border-style: solid;
}

.content-form textarea {
  border: none;
  padding-left: 1em;
  padding-top: 1em;
  background-color: var(--backgraund-input);
  min-width: 100%;
  min-height: 33vh;
}

.content-form textarea:focus {
  border-width: 5px;
  border-color: var(--nav-color-hover);
  border-style: solid;
}

.message-error {
  color: red;
  visibility: hidden;
}

.error {
  visibility: visible;
  color: red;
}

.content-form-button {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1em;
}

.content-form-button button {
  margin-left: 1em;
  width: 10em;
  height: 3em;
}

.reset {
  background-color: var(--color-button-reset);
}

.send {
  background-color: var(--color-button-send);
}

.content-form-button .reset:hover {
  background-color: var(--color-button-reset-hover);
  color: var(--background-color);
}

.content-form-button .send:hover {
  background-color: var(--color-button-send-hover);
  color: var(--background-color);
}


/* Media Query*/
@media (max-width: 768px) {

  .line {
    position: absolute;
    height: 3px;
    width: 70%;
    background: var(--text-color-primary);
    border-radius: 8px;
    padding-left: 5px;
    transition: all cubic-bezier(0.26, 01, 0.27, 155);
  }

  .top {
    top: 30%;
    left: 10%;
  }

  .middle {
    top: 50%;
    left: 10%;
  }

  .bottom {
    top: 70%;
    left: 10%;
  }

  .menu.close .top {
    transform: rotate(45deg);
    top: 50%;
  }

  .menu.close .middle,
  .menu.menu.close .bottom {
    transform: rotate(-45deg);
    top: 50%;
  }

  nav {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 10vh;
    height: 10vh;
    right: 90%;
    background-color: var(--color-menu-mobile);
    border-radius: 50%;
  }


  .menu {
    position: relative;
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    z-index: 4;
    background-color: var(--color-transparent);
  }


  .nav-links {
    position: fixed;
    background: rgb(7, 7, 7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    -webkit-clip-path: circle(10px at 10% -10%);
    clip-path: circle(10px at 10% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 3;
  }

  .nav-links.open {
    -webkit-clip-path: circle(1050px at 10% -10%);
    clip-path: circle(1050px at 10% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }


  li.fade {
    opacity: 1;
  }

  h1 {
    font-size: 2em;
    color: var(--text-color-mobile);
  }

  .titulo h4 {
    color: var(--text-color-mobile);
  }

  .titulo h4::before {
    border: 1px solid var(--text-color-mobile);
    width: 50px;
    transform: translateY(-4px);
  }

  .new-content {
    flex-direction: column;
  }

  .view {
    padding-left: 10vw;
    width: 80vw;
    height: 40vh;
  }

  .description {
    width: 99vw;
  }

}

@media (max-width: 425px) {
  .titulo {
    top: 20vh;
    left: 30vw;
  }

  h1 {
    font-size: 2em;
    color: var(--text-color-mobile);
  }

}