@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --background-color: #000;
  --text-color-primary: #fff;
  --color-transparent: rgba(0, 0, 0, 0);
  --nav-color-hover: rgba(64, 39, 156, 0.8);
  --text-color-mobile: #000;
  --black-transparent: rgba(0, 0, 0, .5);
  --border-box-color: #444444;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color-primary);
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-transparent);
  width: 99%;
  z-index: 3;
  padding: 1.5em;
}

nav ul {
  list-style: none;
  background-color: var(--color-transparent);
  width: 100%;
}

nav ul li {
  display: inline;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(0, 0, 0, 0);
  width: 100%;
}

nav ul li a {
  padding: 1em;
  text-decoration: none;
  background-color: rgb(0, 0, 0, 0);
  font-size: 2em;
}

nav ul li a:hover {
  background-color: var(--nav-color-hover);
}

.container {
  margin-top: 8vh;
}

/* Home */
.home {
  height: 100vh;
  width: 100%;
}

.home picture img {
  width: 99vw;
  height: 100vh;
}

.titulo {
  position: absolute;
  top: 20vh;
  left: 40vw;
  background-color: var(--color-transparent);
}

h1 {

  background-color: var(--color-transparent);
  font-size: 4em;
  text-transform: uppercase;
}

.titulo h4 {

  background-color: var(--color-transparent);
  font-size: 1em;
  text-transform: uppercase;
}

.titulo h4::before {
  display: inline-block;
  content: "";
  border: 1px solid var(--text-color-primary);
  width: 190px;
  transform: translateY(-4px);
}

/* what's a new? */
.new {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.new h2 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.new-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.view {
  padding-left: 10vw;
  width: 40vw;
  height: 40vh;
  background-color: var(--background-color);
}

.view:hover {
  transform: scale(1.05);
}

.description {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.description h3 {
  text-align: center;
  padding: 2em;
}

.description p {
  padding-left: 2em;
  padding-right: 2em;
}

.release {
  text-align: center;
  padding: 2em;
}

.description {
  background-color: var(--color-transparent);
}

/* Discography */
.discography {
  padding: 2em;
}

.discography h2 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.slider {
  max-width: 700px;
  max-height: 457px;
  border: 10px solid var(--border-box-color);
  margin: 60px auto;
  position: relative;
  overflow: hidden;
}

.slider .slider-items .item img {
  max-width: 100%;
  display: block;
  -webkit-animation: zoom 1s ease;
  animation: zoom 1s ease;
}

@-webkit-keyframes zoom {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.slider .slider-items .item {
  display: none;
  position: relative;
}

.slider .slider-items .item.active {
  display: block;
}

.slider .slider-items .item .caption {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background-color: var(--black-transparent);
  color: var(--text-color-primary);
  font-size: 2em;
  line-height: 60px;
}

.slider .left-slide,
.slider .right-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--border-box-color);
  border-radius: 50%;
  color: var(--text-color-primary);
  font-size: 2em;
  top: 50%;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: all .5s ease;
}

.slider .left-slide:hover,
.slider .right-slide:hover {
  box-shadow: 0px 0px 10px var(--text-color-primary);
  background-color: var(--background-color);
}

.slider .left-slide {
  left: 30px;
}

.slider .right-slide {
  right: 30px;
}

/*.album {
  width: 40vw;
  height: 40vh;
}*/


/* Media Query*/
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    color: var(--text-color-mobile);
  }

  .titulo h4 {
    color: var(--text-color-mobile);
  }

  .titulo h4::before {
    border: 1px solid var(--text-color-mobile);
    width: 50px;
    transform: translateY(-4px);
  }

  .new-content {
    flex-direction: column;
  }

  .view {
    padding-left: 10vw;
    width: 80vw;
    height: 40vh;
  }

  .description {
    width: 99vw;
  }

}

@media (max-width: 425px) {
  .titulo {
    top: 20vh;
    left: 30vw;
  }

  h1 {
    font-size: 2em;
    color: var(--text-color-mobile);
  }

}